page-home {
    .card
    {
        background-color: bisque;
    }
    .centercont
    {
        align-content: center;
        text-align: center;
        width: 100%;
        height: max-content;
    }

}
